.departure-container {
    .main-image-container {
        .departure-background-main {
            width: 40%;
            margin: auto;
            display: block;
            width: "auto";
            display: "block";
            margin-top: "1vh";
            transition: opacity 0.85s ease, transform 0.5s ease;

            &.view-mode {
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                z-index: 2;
                left: 50%;
                transform: translateX(-50%);
                transition: opacity 0.85s ease, transform 0.85s ease;
            }
        }
        .left {
            @include view-mode-button(left);
        }
        .right {
            @include view-mode-button(right);
        }

        .exit {
            @include view-mode-button(left, 5%, 0);
        }

        .flip-button {
            @include view-mode-button(right, 5%, 0);
        }
    }

    .other-images-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        overflow-x: "auto";
        &.view-mode {
            display: none !important;
        }
    }

    .departure-background-other {
        width: 100px; /* Example size for smaller images */
        height: auto;
        opacity: 0.5;
        position: relative;
    }
}
