.departure-container {
    min-height: 95vh;

    .main-image-container {
    
        .departure-background-main {
            width: 40%;
            margin: auto;
            display: block;
            width: "auto";
            display: "block";
            margin-top: "1vh";
            transition: opacity 0.5s ease, transform 0.5s ease;

            &.view-mode {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
                transition: opacity 0.85s ease, transform 0.5s ease;
            
                max-width: 100vw;
                max-height: 100vh;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }
        .left {
            @include view-mode-button(left);
        }
        .right {
            @include view-mode-button(right);
        }

        .exit {
            @include view-mode-button(left, 5%, 0);
        }

        .back {
            .go-back-arrow {
                position: absolute;
                background-color: (rgba($color: #ffffff, $alpha: 0.2));
                border-radius: 50%;
                width: 32px;
                left: 8px;
                $top: 50%;
                top: 32px;
                padding: 4px;
            }
        }

        .flip-button {
            @include view-mode-button(right, 5%, 0);
        }
    }

    .other-images-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        overflow-x: "auto";
        &.view-mode {
            display: none !important;
        }
    }

    .departure-background-other {
        width: 100px;
        height: auto;
        opacity: 0.5;
        position: relative;
    }
}
