// COLORS

$dark-color: #414649;
$light-color: #f3f6f9;

//layout

$mobile-padding: 32px;
$narrow-padding: 48px;
$normal-padding: 72px;
$wide-padding: 10vw;

// Spacing

$min-space: 4px;
$small-space: 8px;
$medium-space: 12px;
$large-space: 16px;
$xLarge-space: 20px;
$xxLarge-space: 24px;
$header-size: 8vh;
// SIZING

$logo-width: 125px;
$cards-margin: 100px;
$xLagre-title: 2.5em;
$large-title: 2em;
$med-title: 1.5em;
$small-title: 1em;
